<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="level">WARN</Property> <!-- default value -->
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <!--<File name="LogToFile" fileName="logs\SapphireExtract-${date:yyyyMMdd}%i.log" immediateFlush="false" append="false">-->
        <File name="LogToFile" fileName="log.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="${sys:level}">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
</Configuration>